pythonwork/.idea/
pythonwork/__pycache__/
/__pycache__/
/__pycache__
/.idea/
/.idea
*.git*
*.sublime*
#python specific
*.pyc
pythonwork/*.sublime*
venv
*sublime*
Procfile*
## generic files to ignore
*~
*.lock
#fuckin macs
*.DS_Store
*.swp
*.out
*.txt


Python Work/bottle/
