<!DOCTYPE html>
<html>
<head>
<title>Botender | Beta v.0.01</title>

<link rel="stylesheet" type="text/css" href="../static/css/bt-style.css">
<link href='http://fonts.googleapis.com/css?family=Lato:700,900' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../static/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

<script>
	var dlimit = $(".d-list").height()- 697.5;
	
	console.log(dlimit);

    $(function () {
        $(".d-list").draggable({ axis: "y", scroll: true, containment:[0,dlimit,0,0]});
	 });	
</script>


<meta name="author" content="Ryan Novak" />
<meta charset="UTF-8" />


</head>

<body>

<div id="interface">
<div class="container">

	 <div class="ui-left">
    	
        <img class="bt-logo" src="../static/images/bt-logo.png"/>
        
		<div class="d-preview">
        
        <ul>
        
        	<li><img src="../static/images/drink1.png" alt="Blue Moon Martini"></li>
            
        </ul>
        
        </div><!-- /end .d-preview -->
    
        <div class="d-head">
            
        	<p> DRINK NAME GOES HERE </p>
            
        </div><!-- /end .d-head -->
 
        <div class="d-control">
        
            <ul>
                <li><p>ING. ONE</p></li>
                <li><p>ING. TWO</p></li>
                <li><p>ING. THREE</p></li>
                <li><p>ING. FOUR</p></li>
                <li><p>ING. FIVE</p></li>
            </ul>
        
        
        </div><!-- /end .d-control -->
        
        <div class="d-selection">
        	<button onclick="Javascript: alert('Pouring meow')">POUR IT</button>
            <button onclick="Javascript: alert ('I too like to live dangerously')">SURPRISE ME!</button>
        </div>
        
     </div><!-- /end .ui-left -->
    
    
    
    <div class="ui-right">
        <div class="d-list-container">
        
            <ul class="d-list">
                <li><p>69 SPECIAL</p></li>
                <li><p>BLUE KISOK (SHOT)</p></li>
                <li><p>BLUE MOON MARTINI</p></li>
                <li><p>BLUE MOTORCYCLE #2</p></li>
                <li><p>BLUE THRILL</p></li>
                <li><p>CAPTAIN'S CREAM SODA</p></li>
                <li><p>CAROLINA KAMIKAZE</p></li>
                <li><p>EENYTINI</p></li>
                <li><p>EMBOLISM</p></li>
                <li><p>69 SPECIAL</p></li>
                <li><p>BLUE KISOK (SHOT)</p></li>
                <li><p>BLUE MOON MARTINI</p></li>
                <li><p>BLUE MOTORCYCLE #2</p></li>
                <li><p>BLUE THRILL</p></li>
                <li><p>CAPTAIN'S CREAM SODA</p></li>
                <li><p>CAROLINA KAMIKAZE</p></li>
                <li><p>EENYTINI</p></li>
                <li><p>EMBOLISM</p></li>   
   
            </ul>
            
           
        
        </div><!-- /end .d-list -->
        
        <ul class="d-list-nav">
            <button class="btn-up"><img src="../static/images/btn_up.png"/></button>
            <button class="btn-down"><img src="../static/images/btn_down.png"/></button>
            <button class="btn-shuffle"><img src="../static/images/btn_shuffle.png"/></button>
            <button class="btn-alpha"><img src="../static/images/btn_alpha.png"/></button>
        </ul>
	</div><!-- /end .ui-right -->
    
</div><!-- /end .container -->
</div><!-- /end #interface -->

</body>

</html> 