@charset "utf-8";

/* Reset default styles */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }
button {background :none;border:none;border-style:none;font-family: 'Lato', sans-serif;letter-spacing:3px;font-size:100%;margin:0px;border-width:0px;}




/* Reset default styles */

/* Botender Web Interface v0.01 by Ryan Novak 2013 */


html, body, #interface, .ui-left, .ui-right {
	height:100%;
	min-height:100%;
	font-size: 17px;
	
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

body {
	
	background: #fff;
	color: #fff;
	
}

img { max-height: 100%; }


.container {

	margin: 0 auto;

}


.ui-left {

	background: #333;
	float:left;
	width: 68.9%;
	font-family: 'Lato', sans-serif;
	letter-spacing:3px;
	max-height:800px;
	overflow:hidden;
	
	
}

.bt-logo{
	top:0px;
	left:0px;
	position:fixed;	
}

.d-preview{	
	background: url(../static/images/preview-bg.gif) no-repeat #1d1e1e;
	width:100%;
	float:left;
	height:386px;
}

.d-preview img{
	float:right;
	overflow:visible;
	z-index:2;
	position:relative;
	
	
}

.d-head{
	float:left;	
	width:100%;
	height:158px;
	background: #111;
	
}

.d-head p{
	
	
	padding: 77px 0 0 30px;	
	color: #d76e52;
	
}

.d-control{
	float:left;	
	height: 256px;
	background: #d76e52;
	width:66.67%;
}

.d-control li{
	color: #000;
	width:50%;
	float:left;
	
}

.d-control p{
	margin: 25px 0 40px 30px;
	font-size: 14px;
	
}

.d-selection{
	width: 33.33%;
	float: left;
	background: #d76e52;	
}

.d-selection button{
	width:100%;
	height:126.5px;
	color:#fff;
	background: #ff8361;
	margin:  0 0 3px 0;
	cursor: pointer;
	
	/* sexy fade effect */
	-o-transition: background .25s ease-in;
  	-ms-transition: background .25s ease-in;
  	-moz-transition: background .25s ease-in;
  	-webkit-transition: background .25s ease-in;
 	 transition: background .25s ease-in;
}

.d-selection button:hover{
	background:#fea58c;	
}

.ui-right {

	background: #292929;
	float:left;
	width: 31.1%;
	max-height:800px;
	overflow:hidden;
	font-family: 'Lato', sans-serif;
	letter-spacing:3px;
	
}

.d-list-container {
	height:697.5px; 
	overflow: hidden;	
}

.d-list li{
	
	height: 75px;
	background: #191919;
	margin:  0 0 2.5px 0;
	cursor: pointer;
	
	/* sexy fade effect */
	-o-transition: background .25s ease-in;
  	-ms-transition: background .25s ease-in;
  	-moz-transition: background .25s ease-in;
  	-webkit-transition: background .25s ease-in;
 	 transition: background .25s ease-in;
	
}

.d-list li:hover{
	background: #ff8361 ;	
}

.d-list p{
	padding:30px 0 0 38px;
}

.d-list-nav {
	
}


.d-list-nav button{
	
	width: 25%;	
	height:	120px;
	float: left;
	background: #333;
	border-right: 3px #292929;
	border-style: solid;
	
	
	box-sizing: border-box;
	
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	
	-o-transition: background .25s ease-in;
  	-ms-transition: background .25s ease-in;
  	-moz-transition: background .25s ease-in;
  	-webkit-transition: background .25s ease-in;
 	 transition: background .25s ease-in;

	
}

.d-list-nav button:hover{
	background: #ff8361 ;
}

.d-list-nav button img{

	margin-top:-10px;
	
}



